---
---

.background {
  position: relative;
  background: var(--background);
  color: var(--text);
  z-index: 1;
}

.background:before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: var(--image);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  opacity: 0.25;
  z-index: -1;
}

header[data-big] .logo {
  height: 150px !important;
  flex-shrink: 0;
}

header[data-big] .logo img {
  height: 100% !important;
  width: auto !important;
}

header[data-big] .title-text {
  margin-top: 12px !important;
  text-align: center;
}

header[data-big] .title {
  font-size: calc(var(--xxl) * 1.05);
}

header[data-big] .subtitle {
  font-size: calc(var(--large) * 1.05);
  opacity: 0.75;
}
