{% assign filename = page.path | split: "/" | last %}
{% if page.name and page.name != filename %}
  {% assign title = page.name %}
{% elsif page.title %}
  {% assign title = page.title %}
{% else %}
  {% assign title = nil %}
{% endif %}

{% assign title = title | xml_escape %}
{% assign fulltitle = "" | split: "," %}
{% if title and title != "" %}
  {% assign fulltitle = fulltitle | push: title %}
{% endif %}
{% if site.title and site.title != "" %}
  {% assign fulltitle = fulltitle | push: site.title %}
{% endif %}
{% assign fulltitle = fulltitle | join: " | " %}

{% assign description = page.description | default: site.description %}
{% if site.subtitle %}
  {% capture description -%}
    {{ site.subtitle }}. {{ description }}
  {%- endcapture %}
{% endif %}
{% assign description = description | xml_escape %}

{% assign icon = "images/icon.png" | relative_url %}
{% assign share_abs = site.url | append: site.baseurl | append: "/images/share.png" %}

<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ fulltitle }}</title>

<!-- 🔥 캐시 우회 버전 -->
<link rel="icon" href="{{ icon }}?v=20250201">

<meta name="title" content="{{ title }}">
<meta name="description" content="{{ description }}">

<meta property="og:title" content="{{ title }}">
<meta property="og:description" content="{{ description }}">
<meta property="og:image" content="{{ share_abs }}">
<meta property="og:url" content="{{ site.url }}{{ site.baseurl }}">
<meta property="og:type" content="website">

<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:image" content="{{ share_abs }}">
