<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>
  {{ site.title }}{% if site.subtitle %} | {{ site.subtitle }}{% endif %}
</title>

{% assign description = page.description | default: site.description %}
{% if site.subtitle %}
  {% capture description -%}
    {{ site.subtitle }}. {{ description }}
  {%- endcapture %}
{% endif %}
<meta name="description" content="{{ description | xml_escape }}">

{% if page.robots %}
<meta name="robots" content="{{ page.robots }}">
{% else %}
<meta name="robots" content="index, follow">
{% endif %}

<link rel="canonical" href="{{ site.url }}{{ site.baseurl }}{{ page.url }}">

<link rel="icon" href="https://galab.khu.ac.kr/images/web_icon.jpg" sizes="192x192">

<meta property="og:title" content="{{ site.title }}">
<meta property="og:description" content="{{ description | xml_escape }}">
<meta property="og:image" content="https://galab.khu.ac.kr/images/web_icon.jpg">
<meta property="og:url" content="{{ site.url }}{{ site.baseurl }}">
<meta property="og:type" content="website">

<meta name="twitter:card" content="summary">
<meta name="twitter:image" content="https://galab.khu.ac.kr/images/web_icon.jpg">
