{%- assign m = include.member -%}
{%- assign style = include.style | default: "small" -%}

<div class="portrait-wrapper">
  <div class="portrait" data-style="{{ style }}">
    <div class="portrait-image">
      <img
        src="{{ m.image | relative_url | uri_escape }}"
        alt="{{ m.name | default: 'member' | regex_strip }}"
        loading="lazy"
        {% include fallback.html %}
      >
    </div>
    <div class="portrait-text">
      <h3 class="portrait-name">{{ m.name }}</h3>
      {%- if m.affiliation -%}
        <span class="portrait-subtitle">{{ m.affiliation }}</span>
      {%- endif -%}
      {%- if m.subtitle -%}
        <span class="portrait-subtitle">{{ m.subtitle }}</span>
      {%- endif -%}
    </div>
  </div>
</div>
